

		<footer class="footer-distributed">
            
            <div class="footer-left">
                
                <h3>Montage Kapalua<span>
					
				</span></h3>
                

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Montage Kapalua &copy; 2019</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>1 Bay Dr, Lahaina,</span> HI 96761, USA</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 808-662-6600</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:info@gmail.com">info@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
					Set Beachfront Atop Picturesque Kapalua Bay. Hawaiian Lifestyle at its Finest. Reserve Now. Exclusive Amenities. Luxury Rest & Relaxation. Beautiful Beachfront View. Best Rates Guaranteed. Amenities: Full Gourmet Kitchen, 24 Beach Front Acres.
				</p>

				<div class="footer-icons">
					<a href="#"><i class="fab fa-pinterest-square"></i></a>
					<a href="#"><i class="fab fa-twitter-square"></i></a>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>

				</div>

			</div>

		</footer>