
<div class="container-about"style="background-color: #b1bfd8;
background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);">
 <div class="he" style="height: 50%">
    <h1 class="hi">About us</h1>
    </div>
</div>      
       
<body>
    <div class="container" >
             <div class="row">
                  <div class="col-md-6">
                        <h5 class="card-title text-uppercase">Amazing Hotel in front of the Sea</h5>
                        <p class="card-text text-justify">If you want a beach right on the doorstep, this hotel, positioned on the small seafront promenade in the village of Tamariu, is ideal. There are scenic walks along the coastal path, and the larger, sandier beaches of Calella de Palafrugell or Llafranc are a short drive away. The style is a mixture of homely charm and simple, crisp style. The smart hotel restaurant looks directly out onto Tamariu’s seafront promenade so you can tuck into the buffet breakfast whilst enjoying the sea views.
                                Music thuds away in the background at all times but is not overpowering. The suites on the upper floors have baths by the window so you can gaze across the Med while getting in the mood for clubbing or dine at the beachfront 
                        </p>
                  </div>
                  <!-- /.col-md-6 -->
                  <div class="col-md-6">
              
                    <div class="row align-items-center h-100">
                      <div class="col">
                            <img src="../../assets/image/7.jpg" width="100%"/>
                      </div>
                    </div>
              
                  </div>
                  <!-- /.col-md-6 -->
              
                </div>
                <!-- /.row -->
              </div>
          </body>	
 <!-- ------------------------------------------------------------------------------ -->
 <section class="wrapper">
        <div class="container-fostrap">
            <div>
                <h1 class="heading">
                        What we offer 
                </h1>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card">
                                <img src="../../assets/image/38557426.jpg" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title" style="text-align: center;">
                                        <a> Outdoor Pool
                                      </a>
                                    </h4>
                                    <p class="">
                                            Perched on a cliff near Manggis peaceful eastern coast, Amankila is one of three Aman properties on the Indonesian island. The resort’s three-tiered pool recalls the terraced rice fields that are prevalent in the region. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card">
                                <img src="../../assets/image/DINE.jpg" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title" style="text-align: center">
                                        <a>Indoor Pool
                                      </a>
                                    </h4>
                                    <p class="">
                                            If you like swimming and relaxing it is an ideal place to stay, it is a little bit outside of the city but with a connecting indoor and outdoor swimming pool it is perfect. The gym is small but has enough for a business traveller
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card">
                                <img src="../../assets/image/spa.jpg">
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title" style="text-align: center">
                                        <a>Spa Zone
                                      </a>
                                    </h4>
                                    <p class="">
                                            Refresh and rejuvenate your senses at Aura. With a promise to soothe you – body, mind and soul, we invite you on a journey to sensory heaven by indulging in our array of profoundly relaxing therapies.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                                <div class="card">
                                    <a class="img-card">
                                    <img src="../../assets/image/kid.jpg">
                                  </a>
                                    <div class="card-content">
                                        <h4 class="card-title" style="text-align: center">
                                            <a>Sports Area
                                          </a>
                                        </h4>
                                        <p class="">
                                                A resort is a self-contained commercial establishment that tries to provide most of a vacationer's wants, such as food, drink, lodging, sports, entertainment, and shopping, on the premises     
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                    <div class="card">
                                        <a class="img-card">
                                        <img src="../../assets/image/restaurace.jpg">
                                      </a>
                                        <div class="card-content">
                                            <h4 class="card-title" style="text-align: center">
                                                <a>Restaurant
                                              </a>
                                            </h4>
                                            <p class="">
                                                Our newly refurbished and extended restaurant has been designed with a warm and contemporary feel, carefully designed to enable space yet intimacy.  Again like our lounge bar offering panoramic view of Stanley harbour.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                        <div class="card">
                                            <a class="img-card">
                                            <img src="../../assets/image/sky.jpg">
                                          </a>
                                            <div class="card-content">
                                                <h4 class="card-title" style="text-align: center">
                                                    <a>Skybar
                                                  </a>
                                                </h4>
                                                <p class="">
                                                The Sky Bar offers a stellar list of hand crafted cocktails, spirits and wine served beside the gentle breeze of Indian Ocean. For a light snack, indulge in the tapas menu that will satisfy your taste buds and join us for happy hour before you start your evening.
                                                </p>
                                            </div>
                                        </div>
                                    </div>  
                    </div>
                </div>
            </div>
        </div>
          </section>
    <!-- --------------------------------------------------------------------------------- -->
    <h1 class="love">Our Gallery</h1>
    <div class="container-gallery">
        <div class="container__img-holder">
          <img src="../../assets/image/1.jpg">
        </div>
        <div class="container__img-holder">
          <img src="../../assets/image/22.jpg">
        </div>
        <div class="container__img-holder">
          <img src="../../assets/image/38557426.jpg" alt="Image">
        </div>
        <div class="container__img-holder">
          <img src="../../assets/image/Mo.jpg">
        </div>
        <div class="container__img-holder">
          <img src="../../assets/image/TA.jpg">
        </div>
        <div class="container__img-holder">
          <img src="../../assets/image/montage.jpg">
        </div>
        <div class="container__img-holder">
            <img src="../../assets/image/rot.jpg">
          </div> 
          <div class="container__img-holder">
              <img src="../../assets/image/37378733.jpg">
            </div>   
         <div class="container__img-holder">
                <img src="../../assets/image/mk.jpg">
         </div>    
      </div>
      
    