<section class="gallery-block cards-gallery">
  <div class="container">
      <div class="heading">
        <h2>ROOMS...</h2>
      </div>
      <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                  <a class="lightbox1" href=".../../assets/image/suite1.jpg">
                      <img src=".../../assets/image/suite1.jpg" alt="Card Image" class="card-img-top">
                  </a>
                  <div class="card-body">
                      <h6><a href="#">Suite</a></h6>
                      <p class="text-muted card-text">2000 per night</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                  <a class="lightbox" href=".../../assets/image/-New-Room.jpg">
                      <img src=".../../assets/image/New-Room.jpg" alt="Card Image" class="card-img-top">
                  </a>
                  <div class="card-body">
                      <h6><a href="#">Standard Room</a></h6>
                      <p class="text-muted card-text">3000 per night</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                  <a class="lightbox" href=".../../assets/image/family-room.jpg">
                      <img src=".../../assets/image/family-room.jpg" alt="Card Image" class="card-img-top">
                  </a>
                  <div class="card-body">
                      <h6><a href="#">Family Room</a></h6>
                      <p class="text-muted card-text">5000 per night</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                  <a class="lightbox1" href=".../assets/image/tatatat.jpg">
                      <img src=".../../assets/image/tatatat.jpg" alt="Card Image" class="card-img-top">
                  </a>
                  <div class="card-body">
                      <h6><a href="#">Premier Suite</a></h6>
                      <p class="text-muted card-text">7000 per night</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                  <a class="lightbox" href=".../../assets/image/tat.jpg">
                      <img src=".../../assets/image/tat.jpg" alt="Card Image" class="card-img-top">
                  </a>
                  <div class="card-body">
                      <h6><a href="#">Superior  Room</a></h6>
                      <p class="text-muted card-text">7000 per night</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                  <a class="lightbox" href=".../../image/tata.jpg">
                      <img src=".../../assets/image/tata.jpg" alt="Card Image" class="card-img-top">
                  </a>
                  <div class="card-body">
                      <h6><a href="#">Superior Room Twin</a></h6>
                      <p class="text-muted card-text">7000 per night</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
</script>